.card_element {
    display: flex;
    flex-direction: row;
    margin: 15px;
    padding: 5px;
    align-items: center;
    justify-content: center;


    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    width: 13em;
    height: 13rem;
}