* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100vh;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(173, 236, 215);
}

.app-header {
    background-color: rgb(78, 117, 117);
    width: 95%;
    height: 5vh;
}

.app-body {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 95vh;
    background-color: rgb(67, 122, 29);
}

.app-body-navbar {
    background-color: bisque;
    flex-grow: 1;
}

.app-body-content {
    flex-grow: 6;
    background-color: rgb(80, 80, 37)
}