* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100vh;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background: linear-gradient(rgba(8, 161, 103, 0.5), rgba(183, 255, 207, 0.5)),
    url("https://api.ambr.top/assets/UI/UI_Gacha_AvatarImg_Alhatham.png");

}

.app-header {
    width: 95%;

    height: 5%;
    margin-top: 8px;
    margin-bottom: 24px;
}

.app-body {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 5px;
    height: 93%;
    
}


.app-body-content {
    flex-grow: 1;
}

.page-bottom {
    width: 100%;
    height: 10px;
}